<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NotificacionEditDlg" widgetVar="NotificacionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditNotificacionTitle}">
            <h:form id="NotificacionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{notificacionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditNotificacionLabel_idnoti}" for="idnoti" />
                        <p:inputText id="idnoti" value="#{notificacionController.selected.idnoti}" title="#{bundle.EditNotificacionTitle_idnoti}" required="true" requiredMessage="#{bundle.EditNotificacionRequiredMessage_idnoti}"/>
                        <p:outputLabel value="#{bundle.EditNotificacionLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{notificacionController.selected.fecha}" title="#{bundle.EditNotificacionTitle_fecha}" required="true" requiredMessage="#{bundle.EditNotificacionRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditNotificacionLabel_tipoNotif}" for="tipoNotif" />
                        <p:inputText id="tipoNotif" value="#{notificacionController.selected.tipoNotif}" title="#{bundle.EditNotificacionTitle_tipoNotif}" required="true" requiredMessage="#{bundle.EditNotificacionRequiredMessage_tipoNotif}"/>
                        <p:outputLabel value="#{bundle.EditNotificacionLabel_placa}" for="placa" />
                        <p:inputText id="placa" value="#{notificacionController.selected.placa}" title="#{bundle.EditNotificacionTitle_placa}" required="true" requiredMessage="#{bundle.EditNotificacionRequiredMessage_placa}"/>
                        <p:outputLabel value="#{bundle.EditNotificacionLabel_regisTelef}" for="regisTelef" />
                        <p:inputText id="regisTelef" value="#{notificacionController.selected.regisTelef}" title="#{bundle.EditNotificacionTitle_regisTelef}" required="true" requiredMessage="#{bundle.EditNotificacionRequiredMessage_regisTelef}"/>
                        <p:outputLabel value="#{bundle.EditNotificacionLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{notificacionController.selected.estado}" required="true" requiredMessage="#{bundle.EditNotificacionRequiredMessage_estado}"/>
                        <p:outputLabel value="#{bundle.EditNotificacionLabel_fkCodacti}" for="fkCodacti" />
                        <p:selectOneMenu id="fkCodacti" value="#{notificacionController.selected.fkCodacti}" required="true" requiredMessage="#{bundle.EditNotificacionRequiredMessage_fkCodacti}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{actividadController.itemsAvailableSelectOne}"
                                           var="fkCodactiItem"
                                           itemValue="#{fkCodactiItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditNotificacionLabel_fkCodprog}" for="fkCodprog" />
                        <p:selectOneMenu id="fkCodprog" value="#{notificacionController.selected.fkCodprog}" required="true" requiredMessage="#{bundle.EditNotificacionRequiredMessage_fkCodprog}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{programacionController.itemsAvailableSelectOne}"
                                           var="fkCodprogItem"
                                           itemValue="#{fkCodprogItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditNotificacionLabel_fkCodusua}" for="fkCodusua" />
                        <p:selectOneMenu id="fkCodusua" value="#{notificacionController.selected.fkCodusua}" required="true" requiredMessage="#{bundle.EditNotificacionRequiredMessage_fkCodusua}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"
                                           var="fkCodusuaItem"
                                           itemValue="#{fkCodusuaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{notificacionController.update}" value="#{bundle.Save}" update="display,:NotificacionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'NotificacionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="NotificacionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
