<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListNotificacionTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="NotificacionListForm">
                <p:panel header="#{bundle.ListNotificacionTitle}">
                    <p:dataTable id="datalist" value="#{notificacionController.items}" var="item"
                                 selectionMode="single" selection="#{notificacionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idnoti}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotificacionTitle_idnoti}"/>
                            </f:facet>
                            <h:outputText value="#{item.idnoti}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotificacionTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotificacionTitle_tipoNotif}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoNotif}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotificacionTitle_placa}"/>
                            </f:facet>
                            <h:outputText value="#{item.placa}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotificacionTitle_regisTelef}"/>
                            </f:facet>
                            <h:outputText value="#{item.regisTelef}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotificacionTitle_estado}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.estado}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotificacionTitle_fkCodacti}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkCodacti}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotificacionTitle_fkCodprog}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkCodprog}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotificacionTitle_fkCodusua}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkCodusua}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{notificacionController.prepareCreate}" update=":NotificacionCreateForm" oncomplete="PF('NotificacionCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":NotificacionViewForm" oncomplete="PF('NotificacionViewDialog').show()" disabled="#{empty notificacionController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":NotificacionEditForm" oncomplete="PF('NotificacionEditDialog').show()" disabled="#{empty notificacionController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{notificacionController.destroy}" update=":growl,datalist" disabled="#{empty notificacionController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
