<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NotificacionViewDlg" widgetVar="NotificacionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewNotificacionTitle}">
            <h:form id="NotificacionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{notificacionController.selected != null}">
                        <h:outputText value="#{bundle.ViewNotificacionLabel_idnoti}"/>
                        <h:outputText value="#{notificacionController.selected.idnoti}" title="#{bundle.ViewNotificacionTitle_idnoti}"/>
                        <h:outputText value="#{bundle.ViewNotificacionLabel_fecha}"/>
                        <h:outputText value="#{notificacionController.selected.fecha}" title="#{bundle.ViewNotificacionTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewNotificacionLabel_tipoNotif}"/>
                        <h:outputText value="#{notificacionController.selected.tipoNotif}" title="#{bundle.ViewNotificacionTitle_tipoNotif}"/>
                        <h:outputText value="#{bundle.ViewNotificacionLabel_placa}"/>
                        <h:outputText value="#{notificacionController.selected.placa}" title="#{bundle.ViewNotificacionTitle_placa}"/>
                        <h:outputText value="#{bundle.ViewNotificacionLabel_regisTelef}"/>
                        <h:outputText value="#{notificacionController.selected.regisTelef}" title="#{bundle.ViewNotificacionTitle_regisTelef}"/>
                        <h:outputText value="#{bundle.ViewNotificacionLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{notificacionController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewNotificacionLabel_fkCodacti}"/>
                        <h:outputText value="#{notificacionController.selected.fkCodacti}" title="#{bundle.ViewNotificacionTitle_fkCodacti}"/>
                        <h:outputText value="#{bundle.ViewNotificacionLabel_fkCodprog}"/>
                        <h:outputText value="#{notificacionController.selected.fkCodprog}" title="#{bundle.ViewNotificacionTitle_fkCodprog}"/>
                        <h:outputText value="#{bundle.ViewNotificacionLabel_fkCodusua}"/>
                        <h:outputText value="#{notificacionController.selected.fkCodusua}" title="#{bundle.ViewNotificacionTitle_fkCodusua}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="NotificacionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
