<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProgramacionCreateDlg" widgetVar="ProgramacionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProgramacionTitle}">
            <h:form id="ProgramacionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{programacionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProgramacionLabel_codprog}" for="codprog" />
                        <p:inputText id="codprog" value="#{programacionController.selected.codprog}" title="#{bundle.CreateProgramacionTitle_codprog}" required="true" requiredMessage="#{bundle.CreateProgramacionRequiredMessage_codprog}"/>
                        <p:outputLabel value="#{bundle.CreateProgramacionLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{programacionController.selected.fecha}" title="#{bundle.EditProgramacionTitle_fecha}" required="true" requiredMessage="#{bundle.EditProgramacionRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateProgramacionLabel_horaProg}" for="horaProg" />
                        <p:calendar id="horaProg" pattern="HH:mm:ss" value="#{programacionController.selected.horaProg}" title="#{bundle.EditProgramacionTitle_horaProg}" required="true" requiredMessage="#{bundle.EditProgramacionRequiredMessage_horaProg}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateProgramacionLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{programacionController.selected.descripcion}" title="#{bundle.CreateProgramacionTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateProgramacionRequiredMessage_descripcion}"/>
                        <p:outputLabel value="#{bundle.CreateProgramacionLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{programacionController.selected.estado}" required="true" requiredMessage="#{bundle.EditProgramacionRequiredMessage_estado}"/>
                        <p:outputLabel value="#{bundle.CreateProgramacionLabel_fkCodacti}" for="fkCodacti" />
                        <p:selectOneMenu id="fkCodacti" value="#{programacionController.selected.fkCodacti}" required="true" requiredMessage="#{bundle.EditProgramacionRequiredMessage_fkCodacti}">
                            <f:selectItems value="#{actividadController.itemsAvailableSelectOne}"
                                           var="fkCodactiItem"
                                           itemValue="#{fkCodactiItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateProgramacionLabel_fkCodvehi}" for="fkCodvehi" />
                        <p:selectOneMenu id="fkCodvehi" value="#{programacionController.selected.fkCodvehi}" required="true" requiredMessage="#{bundle.EditProgramacionRequiredMessage_fkCodvehi}">
                            <f:selectItems value="#{vehiculoController.itemsAvailableSelectOne}"
                                           var="fkCodvehiItem"
                                           itemValue="#{fkCodvehiItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{programacionController.create}" value="#{bundle.Save}" update="display,:ProgramacionListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProgramacionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProgramacionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
