<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProgramacionViewDlg" widgetVar="ProgramacionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProgramacionTitle}">
            <h:form id="ProgramacionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{programacionController.selected != null}">
                        <h:outputText value="#{bundle.ViewProgramacionLabel_codprog}"/>
                        <h:outputText value="#{programacionController.selected.codprog}" title="#{bundle.ViewProgramacionTitle_codprog}"/>
                        <h:outputText value="#{bundle.ViewProgramacionLabel_fecha}"/>
                        <h:outputText value="#{programacionController.selected.fecha}" title="#{bundle.ViewProgramacionTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewProgramacionLabel_horaProg}"/>
                        <h:outputText value="#{programacionController.selected.horaProg}" title="#{bundle.ViewProgramacionTitle_horaProg}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewProgramacionLabel_descripcion}"/>
                        <h:outputText value="#{programacionController.selected.descripcion}" title="#{bundle.ViewProgramacionTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewProgramacionLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{programacionController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewProgramacionLabel_fkCodacti}"/>
                        <h:outputText value="#{programacionController.selected.fkCodacti}" title="#{bundle.ViewProgramacionTitle_fkCodacti}"/>
                        <h:outputText value="#{bundle.ViewProgramacionLabel_fkCodvehi}"/>
                        <h:outputText value="#{programacionController.selected.fkCodvehi}" title="#{bundle.ViewProgramacionTitle_fkCodvehi}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProgramacionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
