<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ActividadCreateDlg" widgetVar="ActividadCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateActividadTitle}">
            <h:form id="ActividadCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{actividadController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateActividadLabel_codacti}" for="codacti" />
                        <p:inputText id="codacti" value="#{actividadController.selected.codacti}" title="#{bundle.CreateActividadTitle_codacti}" required="true" requiredMessage="#{bundle.CreateActividadRequiredMessage_codacti}"/>
                        <p:outputLabel value="#{bundle.CreateActividadLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{actividadController.selected.fecha}" title="#{bundle.EditActividadTitle_fecha}" required="true" requiredMessage="#{bundle.EditActividadRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateActividadLabel_horaActi}" for="horaActi" />
                        <p:calendar id="horaActi" pattern="HH:mm:ss" value="#{actividadController.selected.horaActi}" title="#{bundle.EditActividadTitle_horaActi}" required="true" requiredMessage="#{bundle.EditActividadRequiredMessage_horaActi}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateActividadLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{actividadController.selected.descripcion}" title="#{bundle.CreateActividadTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateActividadRequiredMessage_descripcion}"/>
                        <p:outputLabel value="#{bundle.CreateActividadLabel_fkCodvehi}" for="fkCodvehi" />
                        <p:selectOneMenu id="fkCodvehi" value="#{actividadController.selected.fkCodvehi}" required="true" requiredMessage="#{bundle.EditActividadRequiredMessage_fkCodvehi}">
                            <f:selectItems value="#{vehiculoController.itemsAvailableSelectOne}"
                                           var="fkCodvehiItem"
                                           itemValue="#{fkCodvehiItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{actividadController.create}" value="#{bundle.Save}" update="display,:ActividadListForm:datalist,:growl" oncomplete="handleSubmit(args,'ActividadCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ActividadCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
