<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ActividadViewDlg" widgetVar="ActividadViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewActividadTitle}">
            <h:form id="ActividadViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{actividadController.selected != null}">
                        <h:outputText value="#{bundle.ViewActividadLabel_codacti}"/>
                        <h:outputText value="#{actividadController.selected.codacti}" title="#{bundle.ViewActividadTitle_codacti}"/>
                        <h:outputText value="#{bundle.ViewActividadLabel_fecha}"/>
                        <h:outputText value="#{actividadController.selected.fecha}" title="#{bundle.ViewActividadTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewActividadLabel_horaActi}"/>
                        <h:outputText value="#{actividadController.selected.horaActi}" title="#{bundle.ViewActividadTitle_horaActi}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewActividadLabel_descripcion}"/>
                        <h:outputText value="#{actividadController.selected.descripcion}" title="#{bundle.ViewActividadTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewActividadLabel_fkCodvehi}"/>
                        <h:outputText value="#{actividadController.selected.fkCodvehi}" title="#{bundle.ViewActividadTitle_fkCodvehi}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ActividadViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
