<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CetrodatosCreateDlg" widgetVar="CetrodatosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCetrodatosTitle}">
            <h:form id="CetrodatosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cetrodatosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCetrodatosLabel_idcendat}" for="idcendat" />
                        <p:inputText id="idcendat" value="#{cetrodatosController.selected.idcendat}" title="#{bundle.CreateCetrodatosTitle_idcendat}" required="true" requiredMessage="#{bundle.CreateCetrodatosRequiredMessage_idcendat}"/>
                        <p:outputLabel value="#{bundle.CreateCetrodatosLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{cetrodatosController.selected.fecha}" title="#{bundle.EditCetrodatosTitle_fecha}" required="true" requiredMessage="#{bundle.EditCetrodatosRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateCetrodatosLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{cetrodatosController.selected.estado}" required="true" requiredMessage="#{bundle.EditCetrodatosRequiredMessage_estado}"/>
                        <p:outputLabel value="#{bundle.CreateCetrodatosLabel_fkCodacti}" for="fkCodacti" />
                        <p:selectOneMenu id="fkCodacti" value="#{cetrodatosController.selected.fkCodacti}" required="true" requiredMessage="#{bundle.EditCetrodatosRequiredMessage_fkCodacti}">
                            <f:selectItems value="#{actividadController.itemsAvailableSelectOne}"
                                           var="fkCodactiItem"
                                           itemValue="#{fkCodactiItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateCetrodatosLabel_fkCodprog}" for="fkCodprog" />
                        <p:selectOneMenu id="fkCodprog" value="#{cetrodatosController.selected.fkCodprog}" required="true" requiredMessage="#{bundle.EditCetrodatosRequiredMessage_fkCodprog}">
                            <f:selectItems value="#{programacionController.itemsAvailableSelectOne}"
                                           var="fkCodprogItem"
                                           itemValue="#{fkCodprogItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cetrodatosController.create}" value="#{bundle.Save}" update="display,:CetrodatosListForm:datalist,:growl" oncomplete="handleSubmit(args,'CetrodatosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CetrodatosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
