<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListCetrodatosTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="CetrodatosListForm">
                <p:panel header="#{bundle.ListCetrodatosTitle}">
                    <p:dataTable id="datalist" value="#{cetrodatosController.items}" var="item"
                                 selectionMode="single" selection="#{cetrodatosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idcendat}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCetrodatosTitle_idcendat}"/>
                            </f:facet>
                            <h:outputText value="#{item.idcendat}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCetrodatosTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCetrodatosTitle_estado}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.estado}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCetrodatosTitle_fkCodacti}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkCodacti}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCetrodatosTitle_fkCodprog}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkCodprog}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{cetrodatosController.prepareCreate}" update=":CetrodatosCreateForm" oncomplete="PF('CetrodatosCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":CetrodatosViewForm" oncomplete="PF('CetrodatosViewDialog').show()" disabled="#{empty cetrodatosController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":CetrodatosEditForm" oncomplete="PF('CetrodatosEditDialog').show()" disabled="#{empty cetrodatosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{cetrodatosController.destroy}" update=":growl,datalist" disabled="#{empty cetrodatosController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
