<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CetrodatosViewDlg" widgetVar="CetrodatosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCetrodatosTitle}">
            <h:form id="CetrodatosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cetrodatosController.selected != null}">
                        <h:outputText value="#{bundle.ViewCetrodatosLabel_idcendat}"/>
                        <h:outputText value="#{cetrodatosController.selected.idcendat}" title="#{bundle.ViewCetrodatosTitle_idcendat}"/>
                        <h:outputText value="#{bundle.ViewCetrodatosLabel_fecha}"/>
                        <h:outputText value="#{cetrodatosController.selected.fecha}" title="#{bundle.ViewCetrodatosTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewCetrodatosLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{cetrodatosController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewCetrodatosLabel_fkCodacti}"/>
                        <h:outputText value="#{cetrodatosController.selected.fkCodacti}" title="#{bundle.ViewCetrodatosTitle_fkCodacti}"/>
                        <h:outputText value="#{bundle.ViewCetrodatosLabel_fkCodprog}"/>
                        <h:outputText value="#{cetrodatosController.selected.fkCodprog}" title="#{bundle.ViewCetrodatosTitle_fkCodprog}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CetrodatosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
