<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VehiculoCreateDlg" widgetVar="VehiculoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateVehiculoTitle}">
            <h:form id="VehiculoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vehiculoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateVehiculoLabel_codvehi}" for="codvehi" />
                        <p:inputText id="codvehi" value="#{vehiculoController.selected.codvehi}" title="#{bundle.CreateVehiculoTitle_codvehi}" required="true" requiredMessage="#{bundle.CreateVehiculoRequiredMessage_codvehi}"/>
                        <p:outputLabel value="#{bundle.CreateVehiculoLabel_placa}" for="placa" />
                        <p:inputText id="placa" value="#{vehiculoController.selected.placa}" title="#{bundle.CreateVehiculoTitle_placa}" required="true" requiredMessage="#{bundle.CreateVehiculoRequiredMessage_placa}"/>
                        <p:outputLabel value="#{bundle.CreateVehiculoLabel_caracteristicas}" for="caracteristicas" />
                        <p:inputText id="caracteristicas" value="#{vehiculoController.selected.caracteristicas}" title="#{bundle.CreateVehiculoTitle_caracteristicas}" required="true" requiredMessage="#{bundle.CreateVehiculoRequiredMessage_caracteristicas}"/>
                        <p:outputLabel value="#{bundle.CreateVehiculoLabel_fkCodusua}" for="fkCodusua" />
                        <p:selectOneMenu id="fkCodusua" value="#{vehiculoController.selected.fkCodusua}" required="true" requiredMessage="#{bundle.EditVehiculoRequiredMessage_fkCodusua}">
                            <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"
                                           var="fkCodusuaItem"
                                           itemValue="#{fkCodusuaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vehiculoController.create}" value="#{bundle.Save}" update="display,:VehiculoListForm:datalist,:growl" oncomplete="handleSubmit(args,'VehiculoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VehiculoCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
