<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VehiculoEditDlg" widgetVar="VehiculoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditVehiculoTitle}">
            <h:form id="VehiculoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vehiculoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_codvehi}" for="codvehi" />
                        <p:inputText id="codvehi" value="#{vehiculoController.selected.codvehi}" title="#{bundle.EditVehiculoTitle_codvehi}" required="true" requiredMessage="#{bundle.EditVehiculoRequiredMessage_codvehi}"/>
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_placa}" for="placa" />
                        <p:inputText id="placa" value="#{vehiculoController.selected.placa}" title="#{bundle.EditVehiculoTitle_placa}" required="true" requiredMessage="#{bundle.EditVehiculoRequiredMessage_placa}"/>
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_caracteristicas}" for="caracteristicas" />
                        <p:inputText id="caracteristicas" value="#{vehiculoController.selected.caracteristicas}" title="#{bundle.EditVehiculoTitle_caracteristicas}" required="true" requiredMessage="#{bundle.EditVehiculoRequiredMessage_caracteristicas}"/>
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_fkCodusua}" for="fkCodusua" />
                        <p:selectOneMenu id="fkCodusua" value="#{vehiculoController.selected.fkCodusua}" required="true" requiredMessage="#{bundle.EditVehiculoRequiredMessage_fkCodusua}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"
                                           var="fkCodusuaItem"
                                           itemValue="#{fkCodusuaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vehiculoController.update}" value="#{bundle.Save}" update="display,:VehiculoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VehiculoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VehiculoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
