<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VehiculoViewDlg" widgetVar="VehiculoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVehiculoTitle}">
            <h:form id="VehiculoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vehiculoController.selected != null}">
                        <h:outputText value="#{bundle.ViewVehiculoLabel_codvehi}"/>
                        <h:outputText value="#{vehiculoController.selected.codvehi}" title="#{bundle.ViewVehiculoTitle_codvehi}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_placa}"/>
                        <h:outputText value="#{vehiculoController.selected.placa}" title="#{bundle.ViewVehiculoTitle_placa}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_caracteristicas}"/>
                        <h:outputText value="#{vehiculoController.selected.caracteristicas}" title="#{bundle.ViewVehiculoTitle_caracteristicas}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_fkCodusua}"/>
                        <h:outputText value="#{vehiculoController.selected.fkCodusua}" title="#{bundle.ViewVehiculoTitle_fkCodusua}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="VehiculoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
