<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioEditDlg" widgetVar="UsuarioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUsuarioTitle}">
            <h:form id="UsuarioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_codusua}" for="codusua" />
                        <p:inputText id="codusua" value="#{usuarioController.selected.codusua}" title="#{bundle.EditUsuarioTitle_codusua}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_codusua}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuarioController.selected.nombre}" title="#{bundle.EditUsuarioTitle_nombre}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{usuarioController.selected.direccion}" title="#{bundle.EditUsuarioTitle_direccion}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_contrasena}" for="contrasena" />
                        <p:inputText id="contrasena" value="#{usuarioController.selected.contrasena}" title="#{bundle.EditUsuarioTitle_contrasena}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_email}" for="email" />
                        <p:inputText id="email" value="#{usuarioController.selected.email}" title="#{bundle.EditUsuarioTitle_email}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_regisTelef}" for="regisTelef" />
                        <p:inputText id="regisTelef" value="#{usuarioController.selected.regisTelef}" title="#{bundle.EditUsuarioTitle_regisTelef}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_regisTelef}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.update}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsuarioEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
