<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/actividad/List" value="Show All Actividad Items"/>
        <br />
        <h:link outcome="/cetrodatos/List" value="Show All Cetrodatos Items"/>
        <br />
        <h:link outcome="/notificacion/List" value="Show All Notificacion Items"/>
        <br />
        <h:link outcome="/programacion/List" value="Show All Programacion Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
        <br />
        <h:link outcome="/vehiculo/List" value="Show All Vehiculo Items"/>
    </h:body>






</html>

