<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="growl" life="3000" />
            <h:panelGrid columns="2" id="hpgLogin">
                <p:outputLabel value="Código Usuario:"/>
                <p:inputText required="true" value="#{loginBean.usuario}"/>
                <p:outputLabel value="Contraseña:"/>
                <p:inputText type="password" required="true" value="#{loginBean.password}"/>
                <p:commandButton value="Ingresar" update="hpgLogin,growl" action="#{loginBean.loguear()}" />
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

